<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manu.cine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".datesActivity"
            android:label="@string/title_activity_dates"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manu.cine.PrincipalActivity" />
        </activity>
        <activity android:name=".ResultActivity" />
        <activity
            android:name=".MoredatesActivity"
            android:label="@string/title_activity_moredates"
            android:parentActivityName=".datesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manu.cine.datesActivity" />
        </activity>
        <activity
            android:name=".MoremoreDatesActivity"
            android:label="@string/title_activity_moremore_dates"
            android:parentActivityName=".MoredatesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manu.cine.MoredatesActivity" />
        </activity>
        <activity android:name=".ResultActivity2" />
        <activity
            android:name=".KindFilmsActivity"
            android:label="@string/title_activity_kind_films"
            android:parentActivityName=".MoremoreDatesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manu.cine.MoremoreDatesActivity" />
        </activity>
        <activity android:name=".postRegister" />
        <activity
            android:name=".fragmentCommingSoon"
            android:label="@string/title_activity_fragment_comming_soon"
            android:parentActivityName=".RegisteredApp"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manu.cine.RegisteredApp" />
        </activity>
        <activity android:name=".freeTourActivity" />
        <activity android:name=".welcomeActivity" />
        <activity
            android:name=".RegisteredApp"
            android:label="@string/title_activity_registered_app"
            android:parentActivityName=".welcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.manu.cine.welcomeActivity" />
        </activity>
    </application>

</manifest>